

Turn Streamlit Contacts Manager into the next Salesforce (by Monday)

Add function(s) to update contacts: 
	Display existing contacts
	Select 1 to update
	Select 1 or more contacts to update

	Edit contact information
	Save update(s)
	
	
Make sure the same record cannot be entered twice: 
	What is the primary key field? 
	
Clean up data table display: 
	add meaningful column names

Start record indexing at the number 1 instead of Python's 0-based indexing.

Display all contacts in a table on the Home page by default

Add a geographical map to show all contacts in the database.

